$primaryColor: #cccccc;

$back: $primaryColor;

$defaultFont: 'Roboto', sans-serif;
$font: #000;


$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #022c43;
$nav-font-color: #000000;
$link-hover-color: #2581DC;
$bg-light-blue: #115173;
$black: #000;
$white: #fff;
$yellow: #ffd700;