/*body {
    font-family: Helvetica;
}

nav {
    text-decoration: none;
}

nav ul {
    margin-left: 5px;
    border-left: 1px solid rgba(0,0,0,0.3);
    text-decoration: none;
}

nav ul li {
    display: block;
    float: left;
    width: auto;
    text-decoration: none;
}

nav ul li:last-child {
    border-right: 1px solid rgba(0,0,0,0.3);
}

nav ul li a {
    padding: .5rem 1rem;
    text-decoration: none;
}*/
